<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Отказан достъп! Covid-19 тест</title>
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Начало</a>
                    </li>
                    <li role="presentation"><a href="/showSignIn">Вписване</a>
                    </li>
                    <li role="presentation"><a href="/showSignUp">Регистрация</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Covid-19 тест</h3>
        </div>
 
        <div class="jumbotron">
            <h1>{{error}}</h1>
        </div>
 
 
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>