<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>резултати от анкетата</title>
 
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Начало</a>
                    </li>
                    <span style="white-space: pre"> </span>
                    <li role="presentation"><a href="logout">Отписване</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted"></h3>
        </div>
 
        <div class="jumbotron">
            <h1>Вижте обобщените резултати от анкетата:</h1>
            <br /> <br /> 
            <h5>Как оценявате изборът на предмети в учебния план? Много добър (4.33/5.00) </h5>
            <h5>Доволни ли сте от дистанционното обучение? Задоволително (3.17/5.00) </h5>
            <h5>До колко лекторът по дисциплината обяснява материалът добре? Много добре (4.25/5.00) </h5>
            <h5>Колко са достъпни ресурсите за обучение? Приемливо достъпни (2.89/5.00)</h5>
            <h5>Колко полезни ви се струват практическите упражнения? Задоволителни (3.87/5.00) </h5>
            <h5>Как бихте оценили материалната база на ТУ? Отлична (4.67/5.00)</h5>
            <h5>Как смятате, че е разпеделен обемът на програмата? Много добре разпределен (4.02/5.00) </h5>
            <h5>Колко сте доволни от присъственото обучение? Много доволни (4.15/5.00) </h5>
            <h5>Колко доволни сте от местата за почивка/отдих? Напълно доволни (4.66/5.00) </h5>
            <h5>Достатъчно добре ли е оборудвана библиотеката на ТУ? Перфектно оборудвана (5.00/5.00)</h5>
        </div>
    </div>
</body>
 
</html>