<html>
    
<head>

  <link href="../static/addWish.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="../static/js/jquery-1.11.2.js"></script>
  <script src="../static/js/jquery-1.11.2.min.map"></script>
  
</head>

<body>
  <div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="jumbotron">
        <h1>Как бихте оценили материалната база на ТУ?</h1>
        <p class="lead"></p>
        <form action="/addRating6" method="post">
            <input class="form-signin" type="radio" name="rating" id="10" value=0></input><br> 
            <label for="10">Не мога да преценя</label><br>
            <input class="form-signin" type="radio" name="rating" id="11" value=1></input><br>    
            <label for="11">Незадоволителна</label><br>
            <input class="form-signin" type="radio" name="rating" id="12" value=2></input><br>    
            <label for="12">Приемлива</label><br>
            <input class="form-signin" type="radio" name="rating" id="13" value=3></input><br>    
            <label for="13">Задоволителна</label><br>
            <input class="form-signin" type="radio" name="rating" id="14" value=4></input><br>    
            <label for="14">Много добра</label><br>
            <input class="form-signin" type="radio" name="rating" id="15" value=5></input><br>    
            <label for="15">Перфектна</label><br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Напред</button>
        </form>
    </div>
</body>

</html>