<html>
    
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Star rating using pure CSS</title>

  <link href="../static/addWish.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="../static/js/jquery-1.11.2.js"></script>
  <script src="../static/js/jquery-1.11.2.min.map"></script>
  
</head>

<body>
  <div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation"><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="jumbotron">
        <h1>Как бихте оценили ТУ</h1>
        <p class="lead"></p>
        <button button id="btnSignUp" class="btn btn-lg btn-primary btn-block" OnClick="location.href='question3'">1</button>
        <button button id="btnSignUp" class="btn btn-lg btn-primary btn-block" OnClick="location.href='question3'">2</button>
        <button button id="btnSignUp" class="btn btn-lg btn-primary btn-block" OnClick="location.href='question3'">3</button>
        <button button id="btnSignUp" class="btn btn-lg btn-primary btn-block" OnClick="location.href='question3'">4</button>
        <button button id="btnSignUp" class="btn btn-lg btn-primary btn-block" OnClick="location.href='question3'">5</button>
    </div>
</body>

</html>