<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Вписване</title>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../static/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/jquery-1.11.2.min.map"></script>

  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Начало</a></li>
            <span style="white-space: pre"> </span>
            <li role="presentation" ><a href="/showSignIn">Вписване</a></li>
            <span style="white-space: pre"> </span>
            <li role="presentation" ><a href="/showSignUp">Регистрация</a></li>
          </ul>
        </nav>
      </div>
 
      <div class="jumbotron">
        <h1>Впишете се в акаунта си</h1>
        <form class="form-signin" action="/validateLogin" method="post">
        <label for="inputEmail" class="sr-only">Имейл адрес</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Имейл адрес" required autofocus>
        <label for="inputPassword" class="sr-only">Парола</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Парола" required>
         
        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="submit">Вписване</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
</html>